@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*****************************************************/

@font-face {
  font-family: poppins;
  src: url(../public/fonts/PoppinsLatin-Black.ttf);
}

:root{
  --primary: #007bff; 
  --danger: #dc3545;
  --success: #28a745;
  --warning: #ffc107;
  --secondry: #adb5bd;
  --info: #0dcaf0;
  --normal: #e3e3e3;
  --purple: #6f42c1;
  --orange: #fd7e14;
  --shadowOut: 0 3px 5px rgba(0, 0, 0, .4), 0 1px 9px rgba(0, 0, 0, .4);
  --shadowIn: inset 0 2px 5px rgba(0, 0, 0, .4), inset 0 0px 9px rgba(0, 0, 0, .4);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  cursor: default;
}

.bg-purple{
  background: var(--purple)!important;
}
.bg-orange{
  background: var(--orange)!important;
}

.bg-dark, .bg-secondary, .bg-success, .bg-danger, .bg-warning, .bg-info, .bg-primary, .bg-purple, .bg-orange{
  color: #fff;
}
.bg-dark::placeholder, .bg-secondary::placeholder, .bg-success::placeholder, .bg-danger::placeholder, .bg-warning::placeholder, .bg-info::placeholder, .bg-primary::placeholder, .bg-purple::placeholder, .bg-orange::placeholder{
  color: #fff;
}

.pointer{
  cursor: pointer;
}

.rounded-1{
  border-radius: .5rem;
}
.rounded-2{
  border-radius: 1rem;
}
.rounded-3{
  border-radius: 2rem;
}

.shadow-in{
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, .4), inset 0 0px 9px rgba(0, 0, 0, .4);
}
.shadow-out{
  box-shadow: 0 3px 5px rgba(0, 0, 0, .4), 0 1px 9px rgba(0, 0, 0, .4);
}
.shadow{
  box-shadow: var(--shadowIn)!important;
}
.shadow:focus{
  box-shadow: var(--shadowOut)!important;
}

/********************************************/

@media screen and (max-width: 576px) {
  #header-title{
      font-size: 1.1rem;
  }
  .mybtn, #newtask-input{
      font-size: .8rem;
  }
  .task{
      min-height: 2.5rem;
      padding: .8rem 1.2rem;
  }
  .task-title{
      font-size: .8rem;
  }
}