@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
/* @import url(../../fontawesome-free-5.15.3-web/css/all.min.css); */

@font-face {
    font-family: poppins;
    src: url(../fonts/PoppinsLatin-Medium.ttf);
}

:root{
    --primary: #007bff; 
    --danger: #dc3545;
    --success: #28a745;
    --warning: #ffc107;
    --secondry: #adb5bd;
    --info: #0dcaf0;
    --normal: #e3e3e3;
    --purple: #6f42c1;
    --orange: #fd7e14;
    --shadowOut: 0 3px 5px rgba(0, 0, 0, .4), 0 1px 9px rgba(0, 0, 0, .4);
    --shadowIn: inset 0 2px 5px rgba(0, 0, 0, .4), inset 0 0px 9px rgba(0, 0, 0, .4);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    cursor: default;
}

.bg-purple{
    background: var(--purple)!important;
}
.bg-orange{
    background: var(--orange)!important;
}

.bg-dark, .bg-secondary, .bg-success, .bg-danger, .bg-warning, .bg-info, .bg-primary, .bg-purple, .bg-orange{
    color: #fff;
}
.bg-dark::placeholder, .bg-secondary::placeholder, .bg-success::placeholder, .bg-danger::placeholder, .bg-warning::placeholder, .bg-info::placeholder, .bg-primary::placeholder, .bg-purple::placeholder, .bg-orange::placeholder{
    color: #fff;
}

.pointer{
    cursor: pointer;
}

.rounded-1{
    border-radius: .5rem;
}
.rounded-2{
    border-radius: 1rem;
}
.rounded-3{
    border-radius: 2rem;
}

.shadow-in{
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, .4), inset 0 0px 9px rgba(0, 0, 0, .4);
}
.shadow-out{
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4), 0 1px 9px rgba(0, 0, 0, .4);
}
.shadow{
    box-shadow: var(--shadowIn)!important;
}
.shadow:focus{
    box-shadow: var(--shadowOut)!important;
}

.mybtn{
    padding: 6px 12px;
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4), 0 1px 9px rgba(0, 0, 0, .4);
    border-radius: .5rem;
    transition: all .3;
}
.mybtn:focus{
    outline: none;
}
.mybtn:active{
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, .4), inset 0 0px 9px rgba(0, 0, 0, .4)!important;
    transform: translateY(3px);
}
.inactive-btn:focus{
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4), 0 1px 9px rgba(0, 0, 0, .4);
}

.active-btn{
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, .4), inset 0 0px 9px rgba(0, 0, 0, .4)!important;
    transform: translateY(3px);
}

#maker{
    transition: all .3s;
}
#maker:hover{
    font-size: 1.2rem;
}

/*********************************************************************/



#newtask-input:focus{
    outline: none;
}
#newtask-input{
    width: 50%;
    border: none;
    padding: .5rem 1.5rem;
}

.colorbox-btn{
    width: 20px;
    height: 20px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.taskbox{
    height: 70vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;
}

.task{
    min-height: 3rem;
    padding: 1rem 1.5rem;
    text-align: justify;
    margin: 1rem;
    border-radius: 1rem;
}

.check-icon:hover{
    color: var(--success);
}
.delete-icon:hover{
    color: var(--danger);
}


.fadeIn{
    /* opacity: 0; */
    animation: fadeIn .5s;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

.check{
    text-decoration: line-through 2px rgba(55, 55, 55, 0.705);
}

#my-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 8vh;
}

/*********************************************************************/

@media screen and (max-width: 576px) {
    #header-title{
        font-size: 1.1rem;
    }
    .mybtn, #newtask-input{
        font-size: .8rem;
    }
}